
#heading{
    font-family:  'Georgia', Times, 'Times New Roman', 'serif';
    background:#2c0d2b;
    border-bottom: 8px solid #666666;
}

.a_link{
    color:#ffffff;
    font-size: 18px;
    text-decoration: none;
}
